@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* global styles */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

/* navigation bar */

.main-head {
  background: teal;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
  /* box-shadow: 10px 10px 5px grey; */
}

nav {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.img1 {
  height: 60px;
  width: 60px;
  padding: 1rem;
}

/* .search {
  padding: 0.8rem;
  border-radius: 2rem;
} */

.search {
  width: 320px;
  height: auto;
  background-color: #1e272e;
  /*   margin: 20vh auto; */
  position: relative;
  top: 30px;
  right: -160px;
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 10px;
}

.search__box {
  float: left;
  width: 0;
  height: 4rem;
  /*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all 0.75s ease-in;
  cursor: pointer;
  /*   border: 2px solid tomato; */
  /*   margin-top: 5px; */
}

/* .search_box:focus, .search_box:hover {
  background-color: #f1f2f6;
  } */

.search__icon {
  box-sizing: border-box;
  float: right;
  font-size: 2.5rem;
  display: inline-block;
  /*   justify-content: center;
  align-items: center; */
  margin-left: 0.8rem;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
  color: rgb(6, 104, 104);
  transition: all 0.55s ease-in;
  padding: 0.7rem;
  border-radius: 50%;
}

.search:hover > .search__box {
  width: 85%;
  padding: 0 1rem;
}

.search:hover > .search__icon {
  background-color: #eee;
}

.show {
  width: 85%;
  border: 1px solid red;
}

.list.active {
  background-color: #ffffff;
  color: rgb(6, 104, 104);
  /* transition: 0.5s; */
  padding: 4px 6px 6px 6px;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
}

nav ul {
  display: flex;
  flex: 1 1 60rem;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-family: "Zen Antique", serif;
  font-size: 40px;
  /* font-weight: 500; */
}

#logo {
  flex: 3 1 40rem;
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-size: 40px;
  color: beige;
}

button {
  padding: 2rem 5rem;
  background: rgb(84, 115, 196);
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: darkgreen;
  font-size: 2rem;
}

/* nav ul li a {
  padding: 9px, 15px;
  border-radius: 6px;
} */

.list:hover {
  background: rgb(6, 104, 104);
  transition: 0.5s;
  padding: 4px 6px 6px 6px;
  border-radius: 8px;
}
.list.active:hover {
  background: white;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url(/Images/pexels-jaime-reimer-2662116.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2,
h3 {
  padding: 5rem;
}

/* Contacts */

#contacts {
  min-height: 100vh;
  background: url(/Images/pexels-pixabay-247474.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.contact1 {
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: tomato;
}

.form-head {
  text-align: center;
  padding: 1rem;
}

.name-form,
.email-form,
.message-form {
  padding: 1rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 1rem;
}

#message {
  margin-left: 22%;
  margin-right: 20%;
}

.container {
  max-width: 100%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul {
  list-style: none;
}

/* .footer-col4,
.footer-col1,
.footer-col3,
.footer-col2 {
  background: blue;
  padding: 1rem 6rem;
} */
.copyright {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.footer {
  background: rgb(37, 37, 37);
  padding: 20px 1rem;
  padding-bottom: 1rem;
}

.footer-col {
  width: 300px;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: burlywood;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li,
p {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: medium;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffff;
  font-weight: 300;
  color: #bbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.social-links {
  display: flex;
}

.social-links-f {
  height: 2.5rem;
  width: 2.5rem;
}

.social-links-i {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 40%;
}

.social-links-t {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 90%;
}
.social-links-y {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 70%;
}

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    rgb(65, 183, 204);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* location */

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card_title p {
  margin-top: 4rem;
  color: #d31d1d;
  font-size: 2.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.benefits {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    rgb(65, 183, 204);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .headd {
  font-family: cursive;
  color: rgb(5, 5, 5);
  font-weight: 700;
  display: flex;
  padding: 30px 0px 10px 0px;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
} */

.benifitH1 {
  color: white;
  padding-top: 5rem;
  font-style: bold;
  font-weight: 600;
  text-align: center;
  margin: 50px;
}

.move {
  color: #ff0000;
  font-size: 2rem;
  font-style: italic;
}
